<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>211604521147-gdbfujj87sio33fokdv4kiqt0cq2onit.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.211604521147-gdbfujj87sio33fokdv4kiqt0cq2onit</string>
	<key>API_KEY</key>
	<string>AIzaSyCealPr9NPNKyk1e4LD668tYx5CYkpAtvE</string>
	<key>GCM_SENDER_ID</key>
	<string>211604521147</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.priteesh.BreakPoint</string>
	<key>PROJECT_ID</key>
	<string>breakpoint-aef6b</string>
	<key>STORAGE_BUCKET</key>
	<string>breakpoint-aef6b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:211604521147:ios:66bb0c3d0ad4d905</string>
	<key>DATABASE_URL</key>
	<string>https://breakpoint-aef6b.firebaseio.com</string>
</dict>
</plist>